/.vs/DuAn/config/applicationhost.config
/.vs/DuAn/config/applicationhost.config
/.vs/DuAn/v16/.suo
/DuAn/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/DuAn/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DuAn/obj/Debug/DuAn.csproj.FileListAbsolute.txt
/.vs/DuAn/config/applicationhost.config
/.vs/DuAn/v16/.suo
