@using DuAn.Models.CustomModel;
@model HomeModel
<script src="~/Scripts/jquery-3.4.1.js"></script>
<div class="row ml-1 col-12 d-flex justify-content-end">
    <div class="form-group mb-4 mr-4">
        <div class="datepicker date input-group p-0 shadow-sm">
            <input type="text" placeholder="Thời gian hiệu lực" onchange="reloadPage(this.value)" class="form-control" id="thoiGianHieuLuc" readonly>
            <div class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar"></i></span></div>
        </div>
    </div>
</div>
<div class="row ml-1 col-12" id="bodyHomePage">
    @Html.Partial("homePagePartialView", Model)
</div>
<script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datepicker({
                clearBtn: true,
                format: "dd/mm/yyyy"
            });
        });

    function reloadPage(date) {
            $.ajax({
                url: "@Url.Action("homePagePartialView2", "Home")",
                type: 'GET',
                data: { dateStr: date },
                dataType: "json",

                success: function (data) {
                    if (data) {
                        setValue(data.duKienThang, data.duKienNam, data.thucTeThang, data.thucTeNam, data.sanLuongTrongNgay, data.percentFormatThang, data.percentFormatNam, data.numberFormatThang, data.numberFormatNam);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError)
                }
            });
    }
</script>
